body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    /* google fonts poppins */
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* comon-button */
.comon-button {
    background-color: darkred;
    padding: 10px 20px;
    color: #ffff;
    font-size: 23px;
    font-weight: 700;
    border-radius: 20px;
    border: 0;
    margin-left: 60px;

}

.comon-button:hover {
    background-color: rgb(109, 2, 2);
    cursor: pointer;
}

main {
    width: 85%;
    height: 100vw;
    margin: 0 auto;
    background-color: rgb(138, 137, 137);
}

.top-benar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: darkslategrey;
    background-repeat: no-repeat;
}

.top-benar-info {
    margin: 80px;
    padding: 20px;
    border-radius: 20px;
    color: #ffff;
    background-color: rgba(88, 88, 88, 0.452);
}

.top-benar-info h1 {
    color: rgb(10, 240, 201);
    font-size: 32px;
    font-weight: 700;
    border-left: 10px solid #6d0202;
    padding: 8px;
    border-radius: 10px;
    text-transform: capitalize;
}

.top-benar-thime {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-benar-thime img {
    width: 300px;
    height: 500px;
}

/* meno-and-live style*/
.meno-and-live {
    display: grid;
    grid-template-columns: 300px auto;
}

.meno {
    width: 100%;

}

.meno-a {
    background-color: cornflowerblue;
    height: 300px;
    width: 90%;
    margin: 20px auto auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;

}

.meno-a a {
    text-decoration: none;
    color: darkslategrey;
    font-size: 20px;
    font-weight: 300px;
    border: 3px solid #6d0202;
    padding: 10px 30px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.live {
    background-color: brown;
    width: 100%;
    height: 500px;
}

#blog {
    color: #ffff;
}