body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    /* google fonts poppins */
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* comon-button */
.comon-button {
    background-color: darkred;
    padding: 10px 20px;
    color: #ffff;
    font-size: 23px;
    font-weight: 700;
    border-radius: 20px;
    border: 0;
    margin-left: 60px;

}

.comon-button:hover {
    background-color: rgb(109, 2, 2);
    cursor: pointer;
}

main {
    width: 85%;
    margin: 0 auto;
    background-color: rgb(138, 137, 137);
}

.top-benar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: darkslategrey;
    background-repeat: no-repeat;
}

.top-benar-info {
    margin: 80px;
    padding: 20px;
    border-radius: 20px;
    color: #ffff;
    background-color: rgba(88, 88, 88, 0.452);
}

.top-benar-info h1 {
    color: rgb(10, 240, 201);
    font-size: 32px;
    font-weight: 700;
    border-left: 10px solid #6d0202;
    padding: 8px;
    border-radius: 10px;
    text-transform: capitalize;
}

.top-benar-thime {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-benar-thime img {
    width: 300px;
    height: 500px;
}

/* meno-and-live style*/
.meno-and-live {
    display: grid;
    grid-template-columns: 300px auto;
    padding-top: 30px;
}

.meno {
    width: 100%;

}

.meno-a {
    background-color: rgb(37, 37, 38);
    width: 90%;
    margin: 20px auto auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;

}

.meno-a a {
    text-decoration: none;
    background-color: #ffff;
    color: black;
    font-size: 20px;
    font-weight: 300px;
    padding: 10px 30px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.live {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.live div {
    background-color: darkslategrey;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 1s0px rgb(67, 68, 68);
}

.live .players {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.live div h3 {
    color: #ffff;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#blog {
    color: #ffff;
    background-color: #6d0202;
}

.clock {
    display: flex;
    gap: 20px;
    color: black;
    margin-bottom: 0;
}

footer {
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: wheat;
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}

h2 {
    color: darkred;
    font-size: 50px;
    font-weight: 700;
}


hr {
    border: 3px solid wheat;
    margin: 0 50px 20px;
    border-radius: 30px;
}

.pooter-info {
    display: flex;
}

#view-all {
    display: none;
}

/* ========================== */
/* Phone */
@media only screen and (min-width: 276px) and (max-width: 767px) {
    .top-benar {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .top-benar-info {
        margin: 0px;
        padding: 10px;
    }

    .meno-and-live {
        display: grid;
        grid-template-columns: 1fr;
    }

    .live {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .live img {
        width: 100%;
    }

    .pooter-info {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
    }

    .meno-a {
        height: auto;
        display: flex;
        flex-direction: row;

    }

    .meno-a a {
        padding: 10px 30px;
        width: auto;
        margin: 10px auto;
        text-align: center;
    }

    #view-all {
        display: none;
    }


}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-benar {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
    }


    .live {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .pooter-info {
        display: grid;
        grid-template-rows: 1fr;
    }

    .meno-and-live {
        display: grid;
        grid-template-columns: 1fr;
    }

    .meno-a {
        height: auto;
        display: flex;
        flex-direction: row;

    }

    .meno-a a {
        padding: 10px 30px;
        width: auto;
        margin: 10px auto;
        text-align: center;
    }

    #view-all {
        display: block;
    }


}



/* ====================
======= web 2 style ==== 
========================*/
.countries {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countries img {
    height: 40%;
    width: 40%;
}